@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --main: #0B0824;
    --texthover: #BBF55A;
    --text: #ffffff;
}


body{
    background-color: var(--main)
}

.menu-right{
    display: flex;
    justify-content: space-between;
}

.menu-icon .icon-list,.search,.user{
    display: inline-block;
    padding: 0 16px;
}

header {
    position: relative;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 0 2em;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
}

header .logo a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: block;
}

header .logo img:last-child{
    padding: 16px;
    display: inline-block;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: var(--text);
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: var(--texthover);
}

header .search2 {
    display: none;
}

header nav ul li:last-child,
header nav ul li:nth-child(6){
    display: none;
}

.toggle {
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.icon-list {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    cursor: pointer;
}

.user {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    width: 50px;
    cursor: pointer;
}

.search {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    cursor: pointer;
}


/* mobile view */

@media all and (max-width:425px) {
    header {
        padding: 0 10px;
    }
    .toggle {
        display: block;
        color: var(--text);
        order: 1;
    }
    header .logo a {
        order: 2;
        margin: 0 auto;
        padding: 5px 0;
    }
    header .search2 {
        position: absolute;
        display: block;
        width: 100%;
        top: -50px;
        left: 0;
        padding: 1em 1em;
    }
    header .expand {
        top: -100px;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 300px);
        top: -700px;
        left: 0;
        background-color: var(--main);
    }
    header nav.active {
        top: 50px;
    }
    header nav ul li a {
        color: var(--text);
        border-bottom: 1px solid var(--text);
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li:last-child,
    header nav ul li:nth-child(6){
        display: block;
    }
    header .logo img:last-child{
        padding: 16px;
        display: none;
    }
    .user {
        display: none;
    }
    .menu-icon .icon-list, .search {
        display: inline-block;
        padding: 5px 10px;
    }
}


/* tab-view */

@media all and (max-width:768px) {
    header {
        padding: 0 10px;
        z-index: 999;
    }
    .toggle {
        display: block;
        color: var(--text);
        order: 1;
    }
    header .logo a {
        order: 2;
        margin: 0 auto;
        padding: 5px 0;
    }
    .list-items {
        order: 5;
    }
    header .search2 {
        position: absolute;
        display: block;
        width: 100%;
        top: -50px;
        left: 0;
        padding: 1em 1em;
    }
    header .expand {
        top: 50px;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 300px);
        top: -700px;
        left: 0;
        background-color: var(--main);
    }
    header nav.active {
        top: 50px;
    }
    header nav ul li a {
        color: var(--text);
        border-bottom: 1px solid var(--text);
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }
    header nav ul li:last-child,
    header nav ul li:nth-child(6){
    display: block;
    }
    header .logo img:last-child{
        padding: 16px;
        display: none;
    }
    .user {
        display: none;
    }
    .menu-icon .icon-list, .search {
        display: inline-block;
        padding: 5px 10px;
    }
}