@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --main: #0B0824;
    --texthover: #BBF55A;
    --text: #ffffff;
    --boxcolor: #1B1832;
    --sidecolor: #665FE0;
    --litecolor: #6D6C7C;
}


body{
    background-color: var(--main)
}

.menu-right{
    display: flex;
    justify-content: space-between;
}

.menu-icon .icon-list,.search,.user{
    display: inline-block;
    padding: 0 16px;
}

header {
    position: relative;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 0 2em;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
}

#main {
    background-color: #ffffff00;
    width: 100%;
    position: relative;
    max-height: 900px;
    height: 100%;
    overflow: hidden;
    margin-top: 3%;
}

#main img {
    width: 100%;
}

.item-1 {
    background-image: url(../img/COD-WZ.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.item-2 {
    background-image: url(../img/league-of-legends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.item-3 {
    background-image: url(../img/overwatch-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    border: none;
    padding: 0!important;
    font: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    border: none;
    padding: 0!important;
    font: inherit;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    outline: none;
}

.owl-nav {
    color: white;
}

.arrow {
    width: 50%;
}

header .logo a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: block;
}

header .logo img:last-child{
    padding: 16px;
    display: inline-block;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: var(--text);
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: var(--texthover);
}

header .search2 {
    display: none;
}

header nav ul li:last-child,
header nav ul li:nth-child(6){
    display: none;
}

.toggle {
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.icon-list {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    cursor: pointer;
}

.user {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    width: 50px;
    cursor: pointer;
}

.search {
    height: 50px;
    color: var(--text);
    line-height: 50px;
    cursor: pointer;
}

.main-content{
    display: flex;
    justify-content: space-between;
}

.side-section{
    margin: 3% auto;
}

.side-section .league-name p{
    color: var(--texthover);
    padding: 5px 16px;
    text-transform: capitalize;
    font-size: 0.8em;
}

.side-section .league-name h3{
    padding: 0 16px;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.timer{
    background-color: var(--boxcolor);
    margin: 10px 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.side-section hr{
    width: 90%;
    margin: 16px auto;
    border-color: var(--litecolor);
}

.timer p{
    color: var(--litecolor);
    text-transform: capitalize;
}

.timer ul li{
    list-style: none;
    display: inline-block;
    color: var(--sidecolor);
}

.info{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 16px;
}

.info div{
    margin: 0 14px;
}

.info .icon{
    background-color: var(--boxcolor);
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info .btn1 button{
    padding: 8px 16px;
    background: transparent;
    color: var(--litecolor);
    border:1px solid var(--litecolor);
    cursor: pointer;
}

.info .btn2 button{
    padding: 8px 16px;
    background-color: var(--texthover);
    color: var(--main);
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.textinfo p{
    margin: 5px auto;
}

.textinfo p:first-child{
    color: var(--litecolor);
    font-size: 0.8em;
}

.textinfo p:last-child{
    color: var(--text);
}

/* tab-view */

@media all and (max-width:768px) {
    header {
        padding: 0 10px;
        z-index: 999;
    }
    .toggle {
        display: block;
        color: var(--text);
        order: 1;
    }
    header .logo a {
        order: 2;
        margin: 0 auto;
        padding: 5px 0;
    }
    .list-items {
        order: 5;
    }
    header .search2 {
        position: absolute;
        display: block;
        width: 100%;
        top: -50px;
        left: 0;
        padding: 1em 1em;
    }
    header .expand {
        top: 50px;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 300px);
        top: -700px;
        left: 0;
        background-color: var(--main);
    }
    header nav.active {
        top: 50px;
    }
    header nav ul li a {
        color: var(--text);
        border-bottom: 1px solid var(--text);
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }
    header nav ul li:last-child,
    header nav ul li:nth-child(6){
    display: block;
    }
    header .logo img:last-child{
        padding: 16px;
        display: none;
    }
    .user {
        display: none;
    }

    .main-content{
        display: flex;
        flex-flow: column wrap;
    }

    .menu-icon .icon-list, .search {
        display: inline-block;
        padding: 5px 10px;
    }
    .item-1 {
        background-image: url(../img/COD-WZ.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
    }
    
    .item-2 {
        background-image: url(../img/league-of-legends.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
    }
    
    .item-3 {
        background-image: url(../img/overwatch-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
    }

    .side-info{
        display: flex;
        flex-direction: row;
    }
}

/* mobile view */

@media all and (max-width:425px) {
    header {
        padding: 0 10px;
    }
    .toggle {
        display: block;
        color: var(--text);
        order: 1;
    }
    header .logo a {
        order: 2;
        margin: 0 auto;
        padding: 5px 0;
    }
    header .search2 {
        position: absolute;
        display: block;
        width: 100%;
        top: -50px;
        left: 0;
        padding: 1em 1em;
    }
    header .expand {
        top: -100px;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 300px);
        top: -700px;
        left: 0;
        background-color: var(--main);
    }
    header nav.active {
        top: 50px;
    }
    header nav ul li a {
        color: var(--text);
        border-bottom: 1px solid var(--text);
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li:last-child,
    header nav ul li:nth-child(6){
        display: block;
    }
    header .logo img:last-child{
        padding: 16px;
        display: none;
    }
    .user {
        display: none;
    }

    .main-content{
        display: flex;
        flex-flow: column wrap;
    }

    .menu-icon .icon-list, .search {
        display: inline-block;
        padding: 5px 10px;
    }
    .item-1 {
        background-image: url(../img/COD-WZ.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25vh;
    }
    
    .item-2 {
        background-image: url(../img/league-of-legends.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25vh;
    }
    
    .item-3 {
        background-image: url(../img/overwatch-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25vh;
    }

    .side-info{
        display: flex;
        flex-direction: column;
    }
}